
@media (max-width: 600px){
    body{
        overflow-x: hidden;
    }
}


@media only screen and (max-width:600px){
  
    .navbar {
        background-color: transparent; /* Navy background */
        height: 20vh;
      }

      .navbar .nav-link {
        color: white !important;
      }

      .navbar-collapse {
         /* Same navy background when the menu expands */
        max-width: 100%;
        margin-top: 4rem;
      }

      .navbar .nav-item .nav-link{
        z-index: 1;
      }

    
    .navbar .nav-item .nav-link::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        background-color: white;
        height: 2px;
        width: 0;
    }
    
     .navbar .nav-item .nav-link:hover::after{
        width: 13%;
    }
}


@media (max-width: 600px){
    .firstpage{
        width: 100%;
        height: 100%;
    }

    .firstpagecontent{
        transform: translate(-6, 20%);
        padding-top: 20%;
    }

   .firstpage .btn-primary{
    background-color: #125A94;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
   }
}





@media  (max-width: 600px){
 .secondpage{
    width: 100%;
    height: 100%;
 }

 .secondpagecontent{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
   
 }

 .secondpage-info{ 
   transform: translate(-2%, 0) !important;
    max-width: 350px !important;
 }
 .secondpage-info p{
    transform: translate(-2%, 0)
 }
 .secondpage-info .btn-primary{

    background-color: #125A94;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    
 }
 .secondpage-info h1{
    font-size: 7vw;
    font-weight: 700 !important;
 }
 .secondpage-info h1,p{
    margin: 0 .5rem;
 }



 .secondpage-image img{
    transform: translate(-2%, 2rem);
    max-width: 350px;
 }

}



@media (max-width: 600px){
    .thirdpage{
        width: 100%;
        height: 130vh;
        /* transform: translate(-20%, 5%); */
        margin-bottom: 4rem;
    }

    .thirdpage-info h1{
        font-size: 9vw;
        font-weight: 700 !important;
        margin-bottom: 2rem;
    }
    
    .thirdpage-content{
        display: block;
    }

    .thirdpage-images{
        width: 350px;
    }

    .thirdpage-images img{
    transform: translate(9%, 0);
    max-width: 330px;
    }

    .button-shell .btn-primary{
    background-color: white;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
    }

    .thirdpage-images h4{
      transform: translate(14%, 0);
      font-weight: lighter;
      margin: .5rem 2rem;
    }
}

@media (max-width: 600px){
    .fourthpage{
        width: 100%;
        height: 100%;
    }

    .fourthpage-disc h1{
        font-size: 9vw !important;
    }

    .fourthpage-disc p, h1{
        transform: translate(-2.3%, 0);
    }

    .fourthpage-content{
        display: block !important;
        flex-direction: column;
        max-width: 350px;
        transform: translate(5%, 0);
    }

    .fourthpage-disc .btn-primary{
        background-color: #125A94;
        width: 190px;
        padding: 12px 18px;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
    }

    .fourthpage-num {
        transform: translate(-2%, 0);
        margin-bottom: 3rem;

    }

    .fourthpage-num p span{
        display: block;
        
    }

    .fourthpage-num span{
        font-size: 2rem;
    }

    .fourthpage-num p{
        font-size: 1.5rem;
    }
    
}


@media (max-width: 600px){
    .fifthpage{
        width: 100%;
        height: 100%;
        margin-top: 2rem;
    }
    .fifthpage-content{
        transform: translate(-2%, 0%);
        max-width: 350px;
        margin-bottom: 3rem;
    }

    .fifthpage-content .btn-primary{
        background-color: #125A94;
        width: 190px;
        padding: 12px 18px;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
    }

    .fifthpage-content p{
        transform: translate(-2.2%, 0%);
    }

}


/* /////////////////////////////////////////////////
///////////////////////////////////////////
/////////////////////////////////////
/////////////////
Testmonials///////////////////
///////////// */


@media  (max-width: 600px){
    .testpage{
        width: 100%;
        height: 100vh;
    }

    .testmonials{
        display: block;
    }
    .testpage-content{
        transform: translate(2.2%, 0);
    }
    .testpage-content h1{
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: -1rem;
        
        
    }

    .client-tes{
     display: block;
     transform: translate(-8%, 0);
     margin-top: -2%;
    }

    .client-tes h4{
        font-size: 1.5rem;
    }
}


@media  (max-width: 600px){
    .sixthpage{
        width: 100%;
        height: 60vh;
        margin-top: 3rem;
        
    }

    .sixthpage-content{
        flex-direction: column;
        /* transform: translate(-2%, 0); */
        
    }

    .sixthpage-info{
        transform: translate(-4rem, 0);
    }

    .sixthpage-info img{
        width: 228px;
    }

    .sixthpage-contacts {
        transform: translate(3%, 0);
        font-size: 1.2rem;
    }

    /* .social-media{
       padding-bottom: 2rem;
    } */
    


    /* .sixthpage-contacts{
     
    } */


}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
About page////////////////////////////////////////////////// */

@media (max-width: 600px){

    .aboutpageone{
        width: 100%;
        height: 100%;
    }
  .aboutpageone-info h1{
    padding-top: 90%;
    transform: translate(-16rem,0);
    font-size: 15vw;
    font-weight: 700 !important;
  }  
}

/* page two */
@media (max-width: 600px){

.aboutpageTwo{
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
}

.aboutpageTwo-info{
    max-width: 600px;
    display: flex;
    flex-direction: column-reverse;
    
    
}

.aboutpageone-dis h2{
    font-size: 2rem;
    transform: translate(1.5%,0)
}

.aboutpageone-dis{
    max-width: 350px;
    transform: translate(-1%,0);
}

.about-image img{
    display: none;
}

.underhistoryimage{
    display: none;
}


}


/* third page  */

@media (max-width: 600px){
    .aboutpagethird{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }

    .aboutpagethird-info{
        display: flex;
        flex-direction: column-reverse;
    }

    .aboutthirdpageimage img{
        transform: translate(2%, 0);
        max-width: 375px;
        margin-bottom: 3rem;
    }

    .aboutpagethird-dis{
        transform: translate(-8%,0%);
        max-width: 350px;
    }

    .aboutpagethird-dis p{
        margin-bottom: 2rem;
        
    }
}






/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////PROJECT PAGE//////////////////////////////////////////////////////////// */

@media (max-width: 600px){
.projectpageone{
    width: 100%;
    height: 100%;
    padding-top: 70%;
}

.allprojects{
    margin-bottom: 8rem;
    
}

.projectpageone-info{
    padding-top: 5rem !important;
}

.projects-des{
    flex-direction: column;
    margin-top: -5rem;
    
}

.projects-des p{
    max-width: 350px;
    text-align: justify;
    /* margin-bottom: -8rem; */
}

.projects-des .project-title{
    transform: translate(5.5%, 0);
}

.project-title h3{
    font-size: 1.5rem;
}

.pragraph-des{
    transform: translate(5%,0);
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
   iframe {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 350px;
    height: 100%;
    border: 0;
    transform: translate(-8.9%, 0);
    border-radius: 0;

    
  }
  
  @media (max-width: 600px) {
    .video {
      padding-bottom: 75%; /* Adjust aspect ratio for smaller screens if needed */
      margin-bottom: 5rem !important;
    }

    .project-images{
        width: 350px;
        /* height: 20vh; */
        flex-direction: column;
        margin-top: 5rem;
        /* height: auto; */
        
    }

    .project-images img{
        width: 100%;
        height: 30vh;
        border-radius: 0;
        margin-bottom: 2rem;
        transform: translate(8.9%, 0);
        flex-direction: column;

    }
  .project-title-image{
        max-width: 428px;
        margin-bottom: -8rem;
        margin-top: -8rem;
    }
 .project-title-image img{
        width: 100%;
    }

    .project-title-image h1{
        transform: translate(4%, 25rem);
        /* display: block; */
        color: white;
        font-size: 15vw;
        font-weight: 700;

    }
  }
}


/* ///////////////////////////////////////////////
//////////////////////////////////////////////
///////////////////////////////////////////
///////////////////////////////////
SERVICE PAGE /////////////////////////
//////////////// */

@media (max-width: 600px){

    .servicepageone{
        width: 100%;
        height: 100%;
        overflow-x: hidden !important;
    }

    .servicepageone-info h1{
        padding-top: 90%;
        transform: translate(-10rem,0);
        font-size: 15vw;
        font-weight: 700 !important;
    }
     .servicepagetwo-title{
        font-size: 0.2rem !important;
        transform: translate(-5%, 1%);
        max-width: 414px;
        font-weight: 400;
        font-style: italic;
        text-align: justify;
     }
    .servicepagetwo-info{
        display: block;
    }

    .servicepagetwo-des{
        display: block;
        
    }

    .service-image{
        max-width: 375px;
        
    }

    .service-image img{ 
    width: 100%;
    transform: translate(-2rem, 0);
    }

    .service-text{
        max-width: 350px;
        transform: translate(-8%, 0);
    }

    .service-text h1{
        font-size: 3rem;
        font-weight: 700;
        /* transform: translate(2%, 0); */
    }
    .service-text h2{
        /* transform: translate(2%, 0); */
    }

    .service-text p{
        text-align: justify;
        transform: translate(-2%, 0);
    }

    /* page three  */
    .servicepagethree-info{
        max-width: 375px !important;
        transform: translate(7%,0);
    }
    .servicepagethree-info h1{
        font-size: 2rem;
    }

    .servicepagethree-info p{
        font-size: 1.2rem;
    }

    .servicepagethree-info .btn-primary{
        background-color: navy;
        width: 190px;
        padding: 12px 18px;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
    }

}





/* //////////////////////////////////////////////////
//////////////////////////////////////////////
/////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////////
CAREERS PAGE //////////////////////////////
////////////////////////////////////////////////// */

@media (max-width: 600px){
    .careerpageone{
        width: 100%;
        height: 100%;
    }
    .careerpageone-info h1{
        padding-top: 90%;
        transform: translate(-3rem,0);
        font-size: 15vw;
        font-weight: 700 !important;
    }
    .careerspagetwo-info{
        transform: translate(-4%, 0);
    }

    .careerspagetwo-title h2{
        font-size: 2.5rem;
        transform: translate(-1rem,0)
    }

    .careers-vacantpositions h2{
        transform: translate(0.8rem, 0);
    }
    .careers-vacantpositions p{
        transform: translate(1%, 0)
    }
}


/* /////////////////////////////////////////////
////////////////////////////////////////////
/////////////////////////////////////////
//////////CONTACTS PAGE/////////////////
/////////////////////////////////
////////////////////////// */

@media (max-width: 600px){
    .contactspageone{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .contactspagetwo-info{
        width:105%;
        transform: translate(-1%,0);
        
    }

    .contactspageone-info h1{
        padding-top: 90%;
        transform: translate(-4rem,0);
        font-size: 15vw;
        font-weight: 700 !important;
       
    }

    .contactspageone-info .contactspagetwo-des{
        background-color: transparent;
        
    }
 
    .contactspagetwo-des{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }

    .contactspagetwo-title h2{
        transform: translate(-9%, 0) !important;
    }

    .contactspagetwo{
        max-width: 414px;
    }

    .contactspagetwo-des .gmap_canvas{
        margin-top: 1.6rem;
        max-width: 414px;
        transform: translate(56%,0);
    }

   

    

    .viacontacts{
        margin-top: 3rem;
        transform: translate(6%, 0);
         
    }

    .viacontacts h3{
        font-size: 1.5rem;
    }

    
}























/* 
MINI-PHONES RESPONSIVENESS
/////////////////////////
////////////////////////////////
//////////////////////////////
//////////////////////////////
///////////////////////////
////////////////// */

/* HOME.HTML  */
/* SECOND PAGE  */

@media (max-width: 375px){
    .secondpage-image img{
        transform: translate(-1.5%,0);
    }
}

/* THIRD PAGE  */

@media (max-width: 375px){
    .thirdpage-content{
        flex-direction: column;
        transform: translate(-5%, 0);
    }

}

/* FIFTH PAGE */

@media (max-width: 375px){
    .fifthpage-content{
        transform: translate(3%, 0);
    }

    .fifthpage-content h1{
        font-size: 2.1rem;
    }
}

/* SIXTH PAGE  */

@media (max-width: 375px){
    .sixthpage-contacts{
        max-width: 350px;
        transform: translate(3%,0);
    }
}

@media (max-width: 375px){
    .testpage-content h1{
        font-size: 2rem;
    }
}



/* ABOUT.HTML  */

/* PAGE TWO  */

@media (max-width: 375px){
    .about-image img{
        transform: translate(-3.5%, 0);
    }
}

/* PAGE THREE  */

@media (max-width: 375px){
    .aboutpagethird-dis{
        transform: translate(1%,0);
    }
}

/* PROJECTS.HTML  */

@media (max-width: 375px){
    
    .project-title h3{
        transform: translate(-3%,0);
    }

    .pragraph-des{
        transform: translate(1%,0)
    }

    iframe {
       max-width: 370px;
       transform: translate(-3.5rem, 0)
       
    }

    .project-images img{
        max-width: 350px;
        transform: translate(3%, 0);
    }

    .project-title-image h1{
        font-size: 2.3rem;
    }

    .projectpageone-info{
        padding-top: 8rem !important;
    }
}


/* SERVICE.HTML  */
/* PAGE TWO  */

@media (max-width: 375px){
  .service-image{
    max-width: 350px;
    transform: translate(-2.5%, 0);
  }
}

/* PAGE THREE  */
.servicepagethree{
    transform: translate(-3%, 0);
}
.servicepagethree-info P{
    max-width: 350px;
}

/* CONTACTS.HTML  */

@media (max-width: 375px){
    .contactspagetwo-title h2{
        max-width: 350px;
        transform: translate(2rem, 0) !important;
    }

    .viacontacts{
        
        max-width: 350px;
    }
}

