*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    font-size: 4vw;
    font-weight: 600;
}

p{
    font-size: 16px;
}

/* Navbar section  */

.navbar{
    background-color: white;
    height: 20vh;
    margin: 5% 5% 0 5%;
    
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.5);

}
.navbar-nav{
    margin-left: auto;
}

.navbar .nav-item .nav-link{
    padding-right: 2rem !important;
    color: navy;
    background-color: transparent !important;
    font-size: 18px;
    font-weight: 600;
    /* pointer-events: none; */
    text-decoration: none;
    position: relative;
    transition: width .3s ease-in-out;
    cursor: pointer !important;
}

.navbar .nav-item .nav-link:hover{
    background-color: transparent !important;
}

.navbar .nav-item .nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: white;
    height: 2px;
    width: 0;
}

 .navbar .nav-item .nav-link:hover::after{
    width: 100%;
}
nav .navbar-brand img{
    width: 10rem;
}

/* first page  */

.firstpage{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background\ 7.jpeg);
    background-size: cover;
}

.firstpage .firstpagecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.firstpage .firstpagecontent h1{
    font-size: 6vw;
    color: white;
}

.firstpage .firstpagecontent .btn-primary{
    background-color: navy;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

.firstpage .firstpagecontent .btn:hover{}


/* second page  */
.secondpage{
    width: 100%;
    height: 70vh;
    margin-top: 40px;
}

.secondpage .secondpagecontent{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.secondpage .secondpage-image{
    max-width: 600px;
}

.secondpage .secondpage-image img{
    width: 500px;
    margin-top: 40px;
}


.secondpage .secondpage-info{
    max-width: 500px;
    transform: translate(-20%, 0);
}

.secondpage .secondpage-info .btn-primary{
    background-color: navy;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}


/* third page  */

.thirdpage{
    width: 100%;
    height: 100vh;
    background-color: navy;
}

 .thirdpage-info {
    display: flex;
    justify-content: center;
    align-items: center; 
  
}

.thirdpage-info h1{
    margin-bottom: 4rem;
    font-size: 6vw;
    color: white;
}

.thirdpage-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.thirdpage .thirdpage-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.thirdpage-images h4{
    color: white;
}

.thirdpage .thirdpage-images img {
    max-width: 100%; /* Ensures images are responsive */
    height: auto; /* Keeps the aspect ratio of images */
  }

  .button-shell{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}

 
.button-shell .btn-primary{
    background-color: #fff;
    margin: 0 auto;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
   
} 


/* fourth page  */

.fourthpage{
    width: 100%;
    height: 80vh;
    margin-top: 3rem;
    background-color: transparent;
   
}

.fourthpage-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: navy;
    min-height: 60vh;
    
}

.fourthpage-disc h1{
    font-size: 6vw;
}

.fourthpage-disc p{
    margin-bottom: 2rem;
}

.fourthpage-disc{
    max-width: 500px;
    flex-direction: column;
     
}

.fourthpage-content .fourthpage-num {
    display: flex;
    max-width: 600px;
    flex-direction: column;
}

 .fourthpage-num{
    line-height: 2;
    margin-top: 3rem;
}

.fourthpage-num p{
    font-size: 2rem;
}

.fourthpage-num span{
    font-size: 4vw;
    font-weight: 500;
    margin-right: 20px;
    
}

.fourthpage-disc .btn-primary{
    background-color: navy;
        width: 190px;
        padding: 12px 18px;
        text-align: center;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
}


/* fifth page  */

.fifthpage {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: flex-end; /* Aligns the content to the right */
    align-items: center; /* Centers the content vertically */
    background-image: url(./images/faded.png);
    background-size: cover;
    background-position: center;
    
}

.fifthpage-content {
    margin-right: 20px; /* Optional: Add margin if you want some space from the right edge */
}

.fifthpage-content h1{
    font-size: 6vw;
}

.fifthpage-content p{
    max-width: 400px;
}

.fifthpage-content .btn-primary{
    background-color: navy;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

.testpage{
    width: 100%;
    height: 70vh;
}

.testpage-content h1{
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testmonials{
    display: flex;
    margin: 60px 0 0 10px;
    height: 30vh;
    flex-wrap: ;
   
}

.client-tes{
    font-size: 1.5rem;
    margin: 10px 0 0 40px;
    flex-direction: column;
    max-width: 350px;
    background-color: navy;
    color: white;
}

.client-tes h4{
    font-size: 2vw;
    font-weight:900;
    margin-left: 10px;
    margin-top: 1.5rem;
}

.client-tes p{
    margin-left: 10px;
    font-size: 0.9rem;
    font-weight: light;
    font-style: italic;
}

.client-tes .stars{
    margin-left: 10px;
    color: #FFD700;
}



/* sixth page  */

.sixthpage{
    width: 100%;
    height: 40vh;
    background-color: navy;
}

.sixthpage-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30vh;
    color: white;
}

.sixthpage-content h1{
    font-size:3vw;
}

.sixthpage-contacts p{
    font-size: 2rem;
    margin-left:-1rem ;
}





/* /////////////////////////////
/////////////////////////////
//////////////////////
ABOUT PAGE //////////////////////
//////////////// */

.aboutpageone{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg\ 3.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutpageone-info h1{
  padding-top: 35%;
  color: white;
  font-size: 8vw;
  font-weight: 700; 
}

/* page two */

.aboutpageTwo{
    width: 100%;
    height: 100vh;
    margin-top: 3rem;
}

.aboutpageTwo-info{
    display: flex;
    justify-content: center;
    /* margin-left: 2rem; */
    position: relative;
}

.about-image img{
    width: 500px;
    margin: 0 1rem 0 1.5rem;
    
    
}

.aboutpageone-dis{
    flex-direction: column;
    /* margin: 2rem 0 0rem 2rem; */
}

.aboutpageone-dis p{
    max-width: 600px;
    margin-top: 20px;
    line-height: 1.7;
    
}

.underhistoryimage{
    width: 100%;
}

.underhistoryimage img{
    position: absolute;
    width: 75rem;
    height: 40vh;
    margin-bottom: 2rem;
    transform: translate(15%, -20%) ;
    z-index: -100;
}

/* third page  */

.aboutpagethird{
    width: 100%;
    height: 60vh;
    /* background-color: aliceblue; */
    margin-top: 2rem;
}

.aboutpagethird-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutthirdpageimage img{
 margin-right: 1.5rem;
}

.aboutpagethird-dis{
    /* margin: 2rem 0 0rem 2rem; */
    flex-direction: column;
}

.aboutpagethird-dis p{
    max-width: 600px;
}








/* ///////////////////////////////////////
///////////////////////////////////
//////////////////////////////
/////////////////////////////
/////////////////////////////
/////////////PROJECT PAGE///////////////
///////////// */

.projectpageone{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.projectpageone-info{
    padding-top: 20%;
}

.projects-des{
    display: flex;
    justify-content: space-around;

}

.pragraph-des p{
    max-width: 650px;
    /* margin-right: 8rem; */
}

.video{
    width: 100vw;
}

iframe{
  margin: 0 2rem 0 4rem;
  /* border-radius: 20px; */
  transform: translate(-3%, 0);
}

.project-images {
    display: flex;
    justify-content: space-around; /* Adds space between the images */
    align-items: center; /* Vertically centers the images */
    margin-bottom: 9rem;
  }
  
  .project-images img {
    width: 30%; /* Adjust the width to fit your layout */
    height: 50vh; /* Maintain aspect ratio */
    border-radius: 20px;
  }

  .project-title-image{
    width: 100%;
    margin-bottom: -5px;
}
 .project-title-image img{
  width: 100%;
  height: 60vh;
  /* margin: 0 2rem 0 5rem; */

}

.project-title-image h1{
    transform: translate(17rem, 25rem);
    color: #fff;
    font-size: 8vw;
}

 
/* ////////////////////////////////////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////////
////////////////////////////////////////////////////
SERVICE PAGE //////////////////////
///////////////////////// */

.servicepageone{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg\ 3.avif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden !important;
}

.servicepageone-info h1{
  padding-top: 35%;
  color: white;
  font-size: 8vw;
  font-weight: 700; 
}

/* page two  */

.servicepagetwo-info{
    flex-direction: column;
}

.servicepagetwo-title p{
    display: block;
    font-size: 1.5rem;
    margin: 2rem 0 2rem 3rem;
}

.servicepagetwo-des{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 2rem 3rem;
    /* flex-direction: column; */
}

.service-text{
    width: 600px;
    flex-direction: column;
    margin: 5rem 0 0 0;
}

/* page three  */

.servicepagethree{
    width: 100%;
    height: 70vh;
    background-color: aliceblue;
}

.servicepagethree-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 65vh;
}

.servicepagethree-info .btn-primary{
    background-color: navy;
    width: 190px;
    padding: 12px 18px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 600;
}

.servicepagethree-info h1{
    font-size: 3vw;
    font-weight: 700;
}

.servicepagethree-info p{
    font-size: 1.6vw;
    font-weight: 400;
    text-align-last: center;
}







/* //////////////////////////////////////////////////////
/////////////////////////////////////////////////////
///////////////////////////////////////////////////////
////////////////////////////////////////////
////////////////////////////////////
CAREERS PAGE /////////////////////////////////
//////////////////////////////////////////
/////////////////////// */

.careerpageone{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg\ 4.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.careerpageone-info h1{
  padding-top: 35%;
  color: white;
  font-size: 8vw;
  font-weight: 700; 
}

.careerspagetwo-info{
 display: block;
 margin: 3rem 0 1.2rem 4rem;
}

.careerspagetwo-title h2{
    font-size: 3vw;
    color: navy;
    margin-bottom: 3rem;
}

.careers-vacantpositions{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.careers-vacantpositions h1{
    color: navy;
}

.careers-vacantpositions h2 a{
    color: navy !important;
}

.careers-vacantpositions p{
    font-weight: 600;
}





/* /////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
////////////////////////////////////////////
//////////CONTACTS PAGE/////////////////////////////////
/////////////////////////// */

.contactspageone{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg\ 5.avif);
    background-repeat: no-repeat;
    background-size: cover;
}



.contactspageone-info h1{
  padding-top: 35%;
  color: white;
  font-size: 8vw;
  font-weight: 700; 
}



.contactspagetwo-title h2{
    padding: 3rem 0 0 3rem;
    color: white;
}

.contactspagetwo-info{
    background-color: navy;
    height: 110vh;

}

.contactspagetwo-des{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 0 4rem;
    color: black;
    
}






















